<!DOCTYPE html>
<html>

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/index.css">
    <title>{% block title %}Enqor{% endblock %}</title>
  </head>
  
  <body class="main">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand">Enqor</a>
      <button
          class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation"
      >
      
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          
          {% if user.is_authenticated %}
          <!-- done --> 
          <li class="nav-item">
            <a class="nav-link" id ="home" href="/"><img src="/static/images/home1.png" width="15px" height="15px"> Home</a>
          </li>
          
          <!-- done -->
          <li class="nav-item">
            <a class="nav-link" id ="search" href="/search"><img src="/static/images/search.png" width="20px" height="20px"> Find Product</a>
          </li> 

          <li class="nav-item">
              <a class="nav-link" id ="cart" href="/cart"><img src="/static/images/cart.png" width="18px" height="18px"> Cart </a>
          </li> 

          <!-- done --> 
          <a class="nav-item nav-link" id="logout" href="/logout"><img src="/static/images/login.png" width="18px" height="18px"> Logout</a>
          {% else %}
          
          <!-- done --> 
          <li class="nav-item">
            <a class="nav-link" id="login" href="/login"><img src="/static/images/Login.png" width="18px" height="18px"> Login</a>
          </li>
          
          <!-- done --> 
          <li class="nav-item">
            <a class="nav-link" id="signUp" href="/sign_up"><img src="/static/images/User.png" width="18px" height="18px"> Sign Up</a>
          </li>
          
          {% endif %}
        </div>
      </div>
    </nav>


    <!-- notifaction messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}




    
    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>